div.list {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
}
div.screen {
    position: fixed;
    top: 0px;
    left: 25%;
    width: 75%;
    height: 70%;
    background: #555;
}
div.picker {
    position: fixed;
    top: 70%;
    left: 25%;
    width: 37.5%;
    height: 30%;
    background: #555;
}
div.settings {
    position: fixed;
    top: 70%;
    left: 62.5%;
    width: 37.5%;
    height: 30%;
    background: rgb(0, 255, 0);
}
button {
    border:0px;
    color: #ddd;
    background: #eee;
    color: #000;
    transition: color .4s, background .4s;
}
button:hover {
    border:0px;
    color: white;
    background: #555;
    color: #fff;
}
button.add {
    position: absolute;
    top: 90%;
    width: 50%;
    height: 10%;
    padding: 0px;
    border-right:  2px solid #555;
}
button.remove {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 50%;
    height: 10%;
    padding: 0px;
    border-right:  2px solid #555;
}
table {
    position: absolute;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    background: #fff;
    border-bottom: 2px solid #555;
    border-right: 2px solid #555;
}
table.picker {
    height: 100%;
    overflow-y: none;
    overflow-x: scroll;
    border-bottom: 0px;
    border-right: 0px;
    background: #555;
    border-top: 2px solid #333;
}
tr {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
tr.picker {
    width: 50%;
    height: 100%;
    background: #fff;
}
td {
    position: absolute;
    height: 15%;
    width: 100%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}
td.picker {
    width: 100%;
    height: 100%;
    padding-top: 45%;
    padding-left: 25%;
    font-size: 200%;
}
canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}
canvas.cscreen{
    position: absolute;
    height: 90%;
    width: 95%;
    padding-top: 2.5%;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
@media(min-width: 1366px) {
    div.list {
        width: 12.5%;
    }
    div.screen {
        width: 87.5%;
        left: 12.5%;
    }
    div.picker {
        left: 12.5%;
        width: 43.75%;
    }
    div.settings {
        left: 56.25%;
        width: 43.75%;
    }
    tr.picker {
        width: 25%;
        height: 100%;
    }
    td.picker {
        padding-left: 35%;
        padding-top: 55%;
        font-size: 300%;
        padding-top: 50%;
    }
}
@media(min-height: 768px) {
    button.add {
        top: 95%;
        height: 5%;
    }
    button.remove {
        top: 95%;
        height: 5%;
    }
    table {
        height: 95%;
    }
}
div.disable {
    top: 100%;
}